

<div class="card text-center">
  <div class="card-header">
   About me
  </div>
  <div class="card-body">
    <h5 class="card-title">Thanks for your visit</h5>
    <p class="card-text">I'm Erdem TOPAL.  I'm a Ruby on Rails web developer.  This application is my first sudy with RoR. I used bootstrap 5 also. I used Codemy's video and i tried to add something else which doesn't exist in video like dropdown and search. My next project is going to be a B2B Yellow Pages. </p>
  </div>
  <div class="card-footer text-muted">
    erdemtopals@gmail.com  |  +90 534 586 92 66 
  </div>
</div>